*{
    margin:0;
}
body{
    width:100%;
    height:100%;
    background-color: #55a;
    color:#fff;
}
p{
    font-size: 1.05em;
}
.navbar{
    position: fixed;
    top:0px;
    z-index: 1;
    background-color: #0af1d3;
    width: 100%;
    height: 75px;
}
.logo{
    float:left;
    height:150px;
    margin-top: -35px;
}
h1{
    float:left; 
    margin:25px;
    font-size: 2em;
    -webkit-text-stroke: 1px #000;
    font-family: 'Ubuntu', sans-serif;
    color:#0556eb;
}
ul{
    float:right;
}
.navbut{
    text-align: center;
    height: 20px;
    width: 75px;
    margin: 25px;
    display:inline-block;
    font-size: 1em;
    background-color:#06fc9d; 
    border: 3px solid #000011;
    border-radius:10px;
    box-shadow: 3px 3px #00a;
    font-family: 'Ubuntu', sans-serif;
}
.navbut:hover{
    color:#000;
    background-color: #aaf;
    border-color: #fff;
}
.img1 {
    width:100%;
    margin-top:75px;
}
audio{
    margin:auto;
    display:block;
    
}
.topsec{
    text-align: center;
    clear: right;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
}
ol {
    margin-bottom:50px;
}
hr{
    color:#0af1d3;
    margin:25px;
}
.homep{
    float: left;
    display: block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'STIX Two Text', serif;
    
}
.img2{
    width:50%;
}
footer{
    background-color: #0af1d3;
    text-align: center;
    clear: both;
    margin-top:100px;
}   
i{
    color:#fff;
    font-size: 40px;
    padding:10px;
    -webkit-text-stroke: 1px #000;
}
.abouthead{
    text-align: center;
    font-size: 2em;
    margin-top: 80px;
    font-family: 'Ubuntu', sans-serif;

}
.about1{
    padding: 10px;
    font-family: 'STIX Two Text', serif;
}
.img3{
    width: 50%;
    display: block;
    margin: auto;
}
.about2{
    padding:10px;
    font-family: 'STIX Two Text', serif;
}
.img4{
    width: 50%;
    display: block;
    
    float: right;
}
form{
    margin-top: 75px;
    font-family: 'Ubuntu', sans-serif;

}